{% extends "layout/layout.twig" %}

{% block title %}
        <title>Slim 3</title>
{% endblock %}

{% block content %}
<div class="col-md-10 blogShort">
                     <h1>{{article['title']}}</h1>
                     <aside><img src="{{article['image']}}" alt="post img" class="pull-left img-responsive postImg img-thumbnail margin10 ofc"></aside>
                     <article>
                     {{article['text'] | raw}}
                         
                     
                     
                     </article>
                
                 </div>

{% endblock %}