{% extends "layout/layout.twig" %}

{% block title %}
        <title>Slim 3</title>
{% endblock %}

{% block content %}
<div class="col-md-10">
                     <h1>{{article['title']}}</h1>
                     <article>
                     <img src="{{article['image']}}" alt="post img" class="pull-left img-responsive postImg img-thumbnail margin10 ofc">
                     <div>{{article['text'] | raw}}</div>
                         
                     
                     
                     </article>
                
                 </div>

{% endblock %}