{% extends "layout/layout.twig" %}

{% block title %}
        <title>Slim 3</title>
{% endblock %}

{% block content %}
<div class="grid">
	<figure class="effect-layla">
		<img src="http://p1.pichost.me/i/45/1685114.jpg" alt="img06"/>
		<figcaption>
			<h2>Crazy <span>Layla</span></h2>
			<p>When Layla appears, she brings an eternal summer along.</p>
			<a href="#">View more</a>
		</figcaption>			
	</figure>

<<<<<<< HEAD
<div class="container">

  <div class="grid">
  {% for articles in articles %}
      {% set id = articles.id %}
        <figure class="effect-oscar">
	        <img src="{{articles.image}}" alt="img09"/>
		<figcaption>
			<h2>{{articles.title}}</h2>
			<p>{{articles.pseudo}}</p>
			<a href="#">View more</a>
		</figcaption>			
	</figure>
  
  {% endfor %}
  </div>
  </div>

=======
</div>
>>>>>>> e46b3cb14e5c40fb18ee17ce032c149ce4d502bc

{% endblock %}