{% extends "layout/layout.twig" %}

{% block title %}
        <title>Slim 3</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 m-auto">
            <div class="account-wall">

                <form class="create-article" action="{{ path_for('CreateArticleAction')}}" method="post">
                   
                    <input type="text" class="create-article" placeholder="title" name="title" required autofocus>
                    <input type="file" class="create-article" placeholder="image" name="image" required autofocus>
                    <textarea class="create-article" placeholder="text" name="text" required autofocus></textarea>
                    
                   
                    {{ csrf_fields() | raw }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Send Article</button>
                </form>

            </div>
        </div>
    </div>
</div>






{% endblock %}