{% extends "layout/layout.twig" %}

{% block title %}
        <title>Slim 3</title>
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-6 jasgrid">
            {% for row in articles %}
            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">{{row.writer}}</a>
                    </span>
                    <h1 class="post-title">
                        <a href="#">
                            {{row.text}}
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Sep 15, 2015</span>
                    </span>
                </div>
                <img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/5/22/1432299215355/baff131f-a335-44eb-ad66-03c52c5c2213-620x372.jpeg?w=700&q=85&auto=format&sharp=10&s=31a22f00a85840740c2a8af5604abfb0" alt="City in the sky: world's biggest hotel to open in Mecca" 
                class="">        
            </div>

            {% else %}

            <p>Il n'y a pas encore d'articles</p>

            {% endfor %}

        </div>

        
    </div>

</div> <!-- /container -->
{% endblock %}
        
