{% extends "layout/layout.twig" %}

{% block title %}
        <title>Slim 3</title>
{% endblock %}

{% block content %}


<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  

  <div class="row">
    <div class="col-lg-6 mb-4">
        {% for articles in articles %}
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{articles.image}}" alt=""></a>
            <div class="card-body text-dark">
            <h4 class="card-title">
                <a href="#" class="text-dark">{{articles.title}}</a>
            </h4>
            <p class="card-text">{{articles.text}}</p>
            </div>
        </div>
        </div>
        {% else %}
            <p>Il n'y a pas encore d'articles</p>

            {% endfor %}

        </div>

        
    </div>

</div> <!-- /container -->
{% endblock %}
        
